{% extends 'base.html' %}
{% block menu %}
{#   <li><a href="{% url 'article_add' %}">Add Article</a></li>#}
{% endblock %}
{% block content %}
   <h1>Comments:</h1>
   <hr/>
   {% for comment in comments %}
       <h2>{{ comment.author }}</h2>
       <div>{{ comment.text }}</div>
       <p><a href="{% url 'comment_view' comment.pk %}">More...</a></p>
{#       <p><a href="{% url 'article_update' article.pk %}">Edit</a></p>#}
       <p><a href="{% url 'comment_delete' comment.pk %}">Delete</a></p>
       <hr/>
   {% endfor %}
{% endblock %}